<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin - Professors</title>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>
    <div class="professors js_global_container" data-type="professors">
        <div class="table100 ver3 m-t-30 m-l-40 m-r-40">
            <table data-vertable="ver3">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column1">Professor <span title="Add professor" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus-circle"></i></span></th>
                        <th class="column100 column2">Departament</th>
                        <th class="column100 column3">Username</th>
                        <th class="column100 column4">Password</th>
                        <th class="column100 column4">Is admin</th>
                        <th class="column100 columnAction">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% data.professors.forEach(function(professor) { %>
                    <tr class="row100">
                        <td class="column100 column1"><%= professor.name %></td>
                        <td class="column100 column2"><%= professor.department_descr %></td>
                        <td class="column100 column3"><%= professor.username %></td>
                        <td class="column100 column4"><%= professor.user_pass %></td>
                        <td class="column100 column5">
                            <% if(professor.is_administrator) { %>
                                Yes
                            <% } %>
                            <% if(!professor.is_administrator) { %>
                                No
                            <% } %>
                        </td>
                        <td class="column100 columnAction">
                            <span data-process="edit-<%= professor.professor_id %>" title="Edit professor" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></span>
                            <span data-process="delete-<%= professor.professor_id %>" title="Delete professor"><i class="fas fa-minus-circle"></i></span>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Insert modal -->
    <div class="insert-modal">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add professor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-t-20">
                        <div class="wrap-input100 validate-input m-b-35" data-validate="Invalid name">
                            <input class="input100" id="field1" type="text">
                            <span class="focus-input100" data-placeholder="First name"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-35" data-validate="Invalid last name">
                            <input class="input100" id="field2" type="text">
                            <span class="focus-input100" data-placeholder="Last name"></span>
                        </div>
                        <div class="wrap-input100 select-wrap m-b-35">
                            <select class="input100-select">
                                <option>Select departament...</option>
                            </select>
                        </div>
                        <div class="wrap-input100 validate-input m-b-40" data-validate="Invalid last name">
                            <input class="input100" id="field3" type="text">
                            <span class="focus-input100" data-placeholder="Username"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-35" data-validate="Invalid last name">
                            <input class="input100" id="field4" type="text">
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>
                        <div class="wrap-input100 select-wrap m-b-10">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                  <input type="radio" name="options" id="option1" autocomplete="off" checked> No
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option2" autocomplete="off"> Yes
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-add">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit modal -->
    <div class="edit-modal">
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit professor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-t-20">
                        <div class="wrap-input100 validate-input m-b-35" data-validate="Invalid name">
                            <input class="input100" id="efield1" type="text">
                            <span class="focus-input100" data-placeholder="First name"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-35" data-validate="Invalid last name">
                            <input class="input100" id="efield2" type="text">
                            <span class="focus-input100" data-placeholder="Last name"></span>
                        </div>
                        <div class="wrap-input100 select-wrap m-b-45">
                            <select class="input100-select-edit">
                                <option>Select departament...</option>
                            </select>
                        </div>
                        <div class="wrap-input100 validate-input m-b-40" data-validate="Invalid last name">
                            <input class="input100" id="efield3" type="text">
                            <span class="focus-input100" data-placeholder="Username"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-35" data-validate="Invalid last name">
                            <input class="input100" id="efield4" type="text">
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>
                        <div class="wrap-input100 select-wrap m-b-10">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                  <input type="radio" name="options2" id="option3" autocomplete="off" checked> No
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options2" id="option4" autocomplete="off"> Yes
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-edit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="js/edit.js"></script>
    <script>
    document.querySelector('.professors span').addEventListener('click', e => {
        let selector = document.querySelector('.input100-select');
        socket.emit('getDepartments', {
        }, (departments) => {
            while (selector.firstChild) {
                selector.removeChild(selector.firstChild);
            } 
            let markup = '<option value="0">Select departament...</option>';
            departments.forEach(e => {
                markup = markup.concat(`<option value="${e.department_id}">${e.descr}</option>`);
            });
            selector.insertAdjacentHTML('beforeend', markup);
        });
    });
    </script>

</body>

</html>