<!DOCTYPE html>
<html lang="en">

<head>
    <title>University Schedules</title>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>
    <div class="principal">
        <div class="table100 ver3 m-t-30 m-l-20 m-r-20">
            <table data-vertable="ver3">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column1">Professor</th>
                        <th class="column100 column2">Course code</th>
                        <th class="column100 column3">Course name</th>
                        <th class="column100 column4">Period</th>
                        <th class="column100 column5">Time block</th>
                        <th class="column100 column6">Classroom</th>
                        <th class="column100 column7">Building</th>
                    </tr>
                </thead>
                <tbody>
                    <% rows.forEach(function(schedule) { %>
                    <tr class="row100">
                        <td class="column100 column1">
                            <%= schedule.professor_name %>
                        </td>
                        <td class="column100 column2">
                            <%= schedule.course_code %>
                        </td>
                        <td class="column100 column3">
                            <%= schedule.course_name %>
                        </td>
                        <td class="column100 column4">
                            <%= schedule.period %>
                        </td>
                        <td class="column100 column5">
                            <%= schedule.time_block %>
                        </td>
                        <td class="column100 column6">
                            <%= schedule.classroom %>
                        </td>
                        <td class="column100 column7">
                            <%= schedule.classroom_building %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="js/univ.js"></script>

</body>

</html>